<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Optional desktop shortcut (hidden by default, user can select in UI) -->
    <Feature Id="DesktopShortcutFeature" Title="Desktop shortcut" Level="0" Display="collapse">
      <ComponentRef Id="cmpDesktopShortcut" />
    </Feature>
  </Fragment>
</Wix>
